<!------ Footer ------>

    <div id="footer">
        <div class="contacts">
            <a href="mailto:Greenbee.byad@gmail.com">greenbee.byad@gmail.com</a> 
            +32 472 53 58 47
            <a href="https://www.instagram.com/signature.byad/" target="_blank" ><i class="icons fa-brands fa-instagram"></i> <div>signature.byad</div></a>
        </div>
    </div>
    