<nav id="navbar">
    <li><a href="/services">Services</a></li>
    <li><a href="/coaching">Coaching</a></li>
    <li><a href="/vision">Vision</a></li>
    <li><a href="/" class="logo-link"><%= image_tag "logo_short.png", class: "logo" %></a></li>
    <li><a href="/about">À propos</a></li>
    <li><a href="/contact">Contact</a></li>
</nav>