<nav id="navbar">
    <li><a href="/services">Services</a></li>
    <li>Coaching</li>
    <li>Vision</li>
    <li><a href="/" class="logo-link"><%= image_tag "logo_short.png", class: "logo" %></a></li>
    <li>À propos</li>
    <li>Contact</li>
</nav>