<% content_for :title, "Signature à propos" %>
<% content_for :description, "À propos d'Amandine Descamps - Wedding planner" %>

<div class="container">
    <h3>Enchantée, moi c’est Amandine !</h3>
    <p>Enchantée, moi c’est Amandine !</p>
    <p>Depuis mon plus jeune âge, l’organisation d’événements est mon terrain de jeu préféré. Aujourd’hui, c’est bien plus qu’une passion, c’est une véritable vocation. Travailler dans la bonne humeur et l’optimisme, je me considère comme la reine du système D, prête à relever tous les défis pour faire de votre mariage une journée magique.</p>
    <p>Ce que j’aime par-dessus tout ? Relever des défis, rencontrer des personnes formidables et créer des moments magiques pour le plus beau jour du reste de votre vie.</p>
    <p>Mon expérience, avec des formations en marketing et en événementiel, m’a permis de travailler aux côtés de talents comme Elodie Wilmès de Love et Tralala, avant de prendre mon envol pour vous accompagner dans cette belle aventure.</p>
    <p>Je suis sensible aux belles choses et au raffinement, et je m’entoure des meilleurs prestataires pour créer des mariages uniques, en mettant en lumière dès que possible, le savoir-faire local dans chaque détail, que ce soit dans le choix des fleurs, du catering, ou dans la création d’une décoration digne de ce nom.</p>
    <p>À l’écoute de vos envies et attentionnée à chaque étape, je mets un point d’honneur à concevoir une journée qui vous ressemble vraiment. Ensemble, nous allons transformer vos rêves en une journée inoubliable, remplie d’amour et de moments magiques.</p>
    <p style="font-size: x-large; margin: 55px 0px; font-weight: 700;">Alors, prêts à vivre l’aventure avec moi ?</p>
</div>