<% content_for :title, "Signature coaching" %>
<% content_for :description, "Coaching lors de l'organisation d'un mariage - Amandine Descamps" %>

<div class="container">
    <h3>Votre allié dans l’organisation de votre mariage</h3>
    <p>Vous avez décidé d’organiser vous-même votre mariage ? Félicitations ! C’est une aventure passionnante, mais elle peut aussi être remplie de questions, de doutes et parfois même de moments de stress.</p>

    <p>Par où commencer ? Comment tout planifier sans se perdre dans des heures de recherche et de comparaisons ? Pas de panique, je suis là pour vous accompagner à chaque étape.</p>

    <h4>Pourquoi un coach mariage ?</h4>
    <p>Organiser un mariage, c’est orchestrer un grand projet en plus des obligations quotidiennes de la vie. Cela demande du temps, de l’organisation et une vision claire, des choses parfois difficiles à trouver dans nos vies déjà bien remplies.</p>
    <p>Mon rôle est de vous épauler, de vous simplifier la tâche et de vous aider à rester serein tout au long de ce processus grâce aux différents outils que j’ai développés pour vous.</p>
    <p>J’ai conçu des forfaits flexibles (1 mois, 3 mois, 6 mois) pour m’adapter à vos besoins. 
        Mon objectif ? Vous offrir des réponses claires, des conseils personnalisés et un véritable soutien pour que vous restiez aux commandes de votre mariage tout en profitant de cette aventure magique.</p>

    <h4>Mon approche, nos règles</h4>
    <ul>
        <li>Je suis votre relais et votre appui, un expert prêt à répondre à toutes vos questions de manière rapide et professionnelle.</li>
        <li>On brainstorm ensemble pour trouver le moodboard de votre mariage, votre fil rouge.</li>
        <li>Je ne trouve pas les prestataires pour vous, mais je vous guide pour savoir où et comment les trouver en fonction de vos goûts.</li>
        <li>Je ne partage pas de listes de contacts, mais je vous apprends à identifier les bons partenaires pour votre mariage.</li>
        <li>Notre premier rendez-vous se fait ensemble. Ensuite, c’est vous qui choisissez. Nos échanges peuvent se faire sur rendez-vous physique ou en visio, avec la possibilité de poser toutes vos questions par email ou Whatsapp à tout moment.</li>
    </ul>

    <h4>Un accompagnement à votre rythme</h4>
    <p>Que vous ayez besoin d’un coup de pouce pour démarrer, d’un soutien ponctuel ou d’un accompagnement sur plusieurs mois, je suis là pour vous aider à transformer vos idées en réalité et à avancer avec confiance</p>

    <p style="font-size: x-large; margin: 55px 0px; font-weight: 700;">Votre projet, mes conseils : avançons ensemble avec expertise et bienveillance pour un mariage à votre image</p>
</div>