<div class="banner">
    <h1>GreenBee</h1>
    <%= image_tag("logo_greenBee.png") %>
</div>


<h2>Amandine Descamps, Wedding Planner</h2>

<div class="section">
    Faites de votre mariage la journée dont vous avez toujours rêvé.
    Passionnée par l'organisation et le soin du détail, je suis dédiée à transformer votre vision en réalité. 
    Que vous souhaitiez un mariage intime ou une grande célébration, je vous accompagne à chaque étape pour créer un événement unique qui vous ressemble. 
    Avec une attention particulière à vos souhaits et un engagement sans faille, je vous offre une expérience sur mesure pour un jour inoubliable.
</div>

<div class="section">
    Coming SoonPlus de détails sur nos services viendront s'ajouter à ce site.
    En attendant, nous sommes déjà disponibles pour organiser votre mariage.
    Que vous ayez besoin de conseils avisés, d'un suivi personnalisé, d'une organisation complète ou partielle de votre mariage, ou simplement d'une aide pour la décoration, je suis là pour vous. 
    Mon objectif est de rendre chaque moment de vos préparatifs aussi agréable que possible, tout en veillant à ce que votre jour J soit absolument parfait.
</div>

<div class="section">
    Que vous soyez au début de vos préparatifs ou que vous ayez besoin d'une touche finale, je suis à votre disposition pour vous aider à créer le mariage de vos rêves. 
    Contactez-moi sans hésiter pour en discuter et pour commencer cette belle aventure ensemble.
    Email : [Votre adresse email ici]
    Téléphone : [Votre numéro de téléphone ici]
    <a href="https://www.instagram.com/greenbee.be/" target="_blank" >
        <i class="fa-brands fa-instagram"></i>
    </a>
</div>
