<% content_for :title, "GreenBee" %>
<% content_for :description, "Page d'acceuil GreenBee - Wedding planner - Amandine Descamps" %>

<!--
    <div class="banner">
        <div class="sticky-cont">
            <%= image_tag "logo_greenBee_test.png", class: "logo" %>
            <h1>Amandine Descamps
                Wedding Planner</h1>
        </div>
    </div>
-->


<!------ Introduction ------>

    <div id="introduction" class="section">
        <div id="child" class="section-text">
            <h3>
                <span style="font-size: xx-large; background: #5fbfb9; padding: 2px">Votre mariage</span>, une signature unique à votre image.</h3>
                    <span> Un mariage, c’est bien plus qu’une simple organisation. 
                    C’est l’occasion de raconter <span style="font-size: xx-large; background: #5fbfb9; padding: 2px"><b>votre histoire</b></span>, de réunir vos proches autour de vos valeurs et de vivre <span style="font-size: x-large;"><b> une journée qui vous ressemble</b></span> pleinement. 
                    
                    Mon rôle ? Être à vos côtés pour donner vie à cette vision, avec créativité, soin et bienveillance.
                </span>
        </div>
        <%= image_tag("photo2.png", class: "section-image img-section-hori") %>
    </div>
    

<!------ Mes services ------>

    <div id="propose" class="section">
        <div class="section-text">
            <h2>Ce que je vous propose ?</h2>
            <li><b>Un mariage qui vous ressemble</b>: Chaque détail compte pour raconter votre histoire. Ensemble, nous imaginons une journée à votre image, où chaque moment a du sens.
            
            </li>
            <li><b>Une touche d’élégance et d’authenticité</b>: Passionnée par la décoration et le savoir-faire, j’aime créer des ambiances raffinées
            
            </li>
            <li><b>Des services variés</b>: Je vous accompagne tout au long de l’organisation de votre mariage, ou simplement le jour J, pour faire de cette journée un moment parfait et sans stress. 
            Si vous préférez garder le contrôle tout en ayant un soutien expert, je vous propose également un coaching personnalisé pour vous guider dans vos choix. 
            Et si vous souhaitez une touche unique, je crée une décoration sur-mesure qui sublimera votre célébration.</li>
        </div>

         <%= image_tag("wedding-greenbee-banner.jpg", class: "section-image") %>
    </div>



<!------ Présenatation ------>

    <div id="presentation" class="section">
        <%= image_tag("photo1.png", class: "section-image img-section-hori") %>

        <div class="section-text">
            <h2>Qui suis-je ?</h2>
                <div>Je suis une <span style="font-size: xx-large; background: #5fbfb9; padding: 2px"><b>passionnée</b></span> des belles histoires, des petits détails qui marquent les esprits et des mariages où chaque moment fait sens. 
                Portée par les <span style="font-size: xx-large; background: #5fbfb9; padding: 2px">rencontres authentiques</span> et les jolies choses bien faites, j’ai choisi de la mettre au service des <b style="font-size: x-large;">couples qui rêvent d’une journée unique et élégante</b>.
                Depuis dix ans, l’organisation d’évènements est ma passion et c’est avec ma rigueur et une touche de bonne humeur que je vous <span style="font-size: xx-large; background: #5fbfb9; padding: 2px">accompagne avec bienveillance</span> dans cette belle aventure.</div>
        </div>

    </div>
