<% content_for :title, "Signature services" %>
<% content_for :description, "Différents services proposé pour l'organisation d'un mariage - Amandine Descamps" %>

<div class="container">
    <h3>Mes services pour un mariage à votre image</h3>
    <p>Organiser un mariage, c’est un mélange subtil de créativité, de planification et de coordination. Mon objectif ? Vous offrir un accompagnement sur-mesure pour que vous viviez chaque instant de votre journée en toute sérénité. Que vous ayez besoin d’un soutien complet ou ponctuel, je vous propose des services adaptés à vos envies :</p>

    <h3>Organisation complète : de A à Z</h3>
    <p>De la première idée à la dernière danse, je m’occupe de tout pour que votre mariage soit parfaitement orchestré. Recherche de prestataires, gestion du budget, planification des moindres détails : je suis à vos côtés pour créer un événement qui vous ressemble. Le jour J, je peux également être présente pour coordonner chaque instant et m’assurer que tout se déroule comme prévu.</p>

    <h3>Décoration sur-mesure</h3>
    <p>Vous rêvez d’un décor unique et élégant ? Passionnée par la décoration et le design, je vous accompagne dans la création d’une ambiance qui reflète votre personnalité et vos goûts. De la scénographie générale aux petits détails qui font toute la différence, je veille à sublimer chaque espace de votre mariage.</p>

    <h3>Coordination du jour J</h3>
    <p>Vous avez tout planifié mais souhaitez profiter pleinement de votre journée sans le stress de la logistique ? Je prends le relais pour coordonner les prestataires, gérer le timing et assurer que tout se passe sans accroc. Vous n’aurez qu’une chose à faire : savourer chaque moment.</p>
</div>