<% content_for :title, "Signature vision" %>
<% content_for :description, "Découvrez la vision d'Amandine Descamps d'un mariage" %>

<div class="container">
    <h3>Ma vision : créer des mariages uniques, respectueux et empreints d'élégance</h3>
    <p>Avec plus de dix ans d'expérience dans l'événementiel, ma passion pour les mariages, la décoration, l’histoire de l’art et le savoir-faire belge m’a naturellement amenée à fonder <i>Signature.</i></p>
    <h4>Pourquoi <i>Signature ?</i></h4>
    <p>Ce mot incarne deux valeurs fondamentales :</p>
    <ul>
        <li><b>SIGN</b>: Parce que je crois que les plus belles histoires d’amour sonnent comme une évidence. Comme un chef-d’œuvre culinaire avec un plat signature, je m’engage à vous accompagner pour créer un mariage qui reflète votre personnalité et votre vision. La signature, c’est aussi ce moment unique où vous scellez votre engagement, une étape clé qui symbolise également mon engagement envers vous : rendre cette journée inoubliable.
        
        </li>
        <li><b>NATURE</b>: Je m’efforce de créer des mariages raffinés et élégants tout en respectant notre belle dame nature. 
        Cela passe par le choix d’artisans et prestataires talentueux, de créations locales et durables pour sublimer votre événement avec authenticité, que ce soit avec les fleurs, la décoration ou les plaisirs gourmands.</li>
    </ul>
    <p>Chez <i>Signature</i>, chaque mariage est une œuvre unique, où l’amour, le respect de la terre et l’élégance s’unissent pour raconter votre histoire.</p>
</div>