@import "config";

#footer{
    background: linear-gradient($darkBg, $lighBg);
    // background: linear-gradient(#83dbd0, #5fbfb9) !important;
}

.contacts{
    text-align: center;
    white-space: pre-line;
    margin: auto;
}

.icons{
    font-size: 40px;
}