@import "config";

#navbar{
    // background: linear-gradient($darkBg, $lighBg);
    background-color: $background;
    display: flex;
    padding: 10px 3em;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    li{
        list-style: none;
    }
    img{
        border-radius: $radius;
        object-fit: cover;
        max-height: 3em;
        width: 11em;
    }
}

.logo-link{
    max-height: 3em;
    display: block;
}

.active-link{
    color: $activeColor !important;
    border-bottom: 1px solid $activeColor;
}