$background: #fdfdfd;
$fontColor: #1c1c1c ;
$headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
$backgroundSection: #83dbd0; //#7bccc7

// color of the logo : #4eb6aa
// Color not to lose :
/*
#55c3ae
*/
