$background: #f4e8e8;
$fontColor: #1c1c1c ;
$headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
$fontFamily: "Libre Caslon Text", serif, sans-serif;
$lighBg: #b0ccbc; //#7bccc7
$darkBg: #a5b8D0;
$radius: 7px;
$boxShadowColor: grey

// $headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
// $lighBg: #83dbd0; //#7bccc7
// $darkBg: #5fbfb9;

// color of the logo : #4eb6aa
// Color not to lose :
/*
#55c3ae
*/
