$background: #fdfdfd;
$fontColor: #1c1c1c ;
$headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
$lighBg: #83dbd0; //#7bccc7
$darkBg: #5fbfb9;

$radius: 7px;

// color of the logo : #4eb6aa
// Color not to lose :
/*
#55c3ae
*/
