/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  External libraries
@import "font-awesome";

//Internal Import
@import "config";

body{
    background: $background;
    color: $fontColor;
    font-size: 20px;
    word-spacing: 6px;
    line-height: 32px;
    scroll-behavior: smooth;
    font-family: $fontFamily;

    margin: 0;
}

p{
    white-space: pre-line;
}

a{
    text-decoration: none;
    color: $fontColor;
    transition: 0.5s;
}

a:hover{
    opacity: 0.7;
    transition: 0.7s;
    font-size: larger;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headerFont !important
}

.container{
    width: 80%;
    margin:  auto;
}

ul > li {
    white-space: pre-line;
}

//Smooth Responsiveness

@media (max-width: 850px) {
    .container{
        width: 80% ;
    }
}

@media (max-width: 650) {
    .container{
        width: 85% ;
    }
}

@media (max-width: 450px) {
    .container{
        width: 90% ;
    }
}

