.section{
    white-space: pre-line;
    text-align: justify;
    width: 80%;
    margin: auto;
}

.banner{
    height: 100vh;
    margin-bottom: 25px;
    background-position: center;
    background-size: cover;
    background-image: image-url("wedding-greenbee-banner.jpg");
    .logo{
     -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    }
    h1{
        color: white;
        text-shadow: 3px 3px 3px #222;
        white-space: pre-line;
        line-height: normal
    }
    div{
        padding: 25vh 0px ;
    }
}

.sticky-cont{
    position: sticky;
    top: 30px;
}

.icons{
    font-size: 40px;
}

#parent{

}

#child{
    // position: sticky;
    // bottom: 0;
}

.inter-section-banner{
    height: 80vh;
    width: 100%;
    background-image: image-url("section_1-banner.jpg");
    background-size: cover;
    background-position: center;
}

.sections-photos{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 90%;
    img{
        width: 40%;
        height: 40%;
        margin: 10px;
    }
}

.footer{
    margin-top: 40px;
    background-color: #e3ac7b80;
}

.contacts{
    text-align: center;
    white-space: pre-line;
    margin: auto;
}
// Responsiveness large phones/small pads

@media (max-width: 650px) {
    .sections-photos{
        display: block;
        img{
            width: 100%;
            height: auto;
            margin: auto;
        }
    } 
}



// Responsiveness small phones

@media (max-width: 450px) {
    .logo{
        max-width: 90%;
    }
    h1{
        font-size: 35px;
    }
}